<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles.css">
  {{ content | safe }}
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
